/*h1 {
  background-color: rgb(26, 26, 26);
  color: white;
  height: 65%;
  width: 8%;
  border-color: rgb(102, 102, 102);
  border-style: solid;
  border-radius: 5%;
  font-size: 4rem;
  padding-top: 1.5%;
  font-family: "Anton", sans-serif;
}*/

.container {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: space-around;
}
.digit {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 10%;
  border-color: rgb(102, 102, 102);
  border-style: solid;
  border-radius: 4%;
  font-size: 4rem;
  font-family: "Anton", sans-serif;
}

.reset,
.stop-resume,
.set-timer {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  border-color: rgb(102, 102, 102);
  border-style: solid;
  border-radius: 5%;
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  width: 80px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colon {
  color: white;
}

.set-timer-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-color: green;
  background-color: greenyellow;
  border-radius: 5px;
  height: 200px;
  width: 20%;
  top: 25%;
  right: 40%;
  position: absolute;
  border-style: solid;
}

.set-timer-box > i {
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.set-timer-box > input {
  margin: 10px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
